
.authPage{
  display: flex;
  flex-flow: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-block-start: 10%;
  width: 80vw;
  text-align: center;
}
.register{
  margin-block-start: 10%;
}

.authPage input{
  text-align: left;
}
.authPage label{
  text-align: left;
}
