.userRecords{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items:center;
    background-color: white;
    height: 60vh;
    width: 80vw;
    border-radius: 25px;
    margin-block-start: 5%;
}

.score{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 10vh;
    border-radius: 50px;
    background-color:#673115;
    color: white;
    justify-content: space-evenly;
}

.records{
    display: flex;
    flex-flow: column;
    overflow: scroll;
    margin-top: inherit;
    height: 40vh
}
.userRecords h3{
    color: #060CE9;
    font-weight: 700;

}
.userRecords p{
    color: white;
}