.btn{
background: #FFFFFF;
border-radius: 25px;
height: 100px;
width:150px;
display: flex;
justify-content: center;
align-items: center;
margin: 32px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.dashboard{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
p{
    color:#060CE9;
    padding: 16px;
    font-size: 18px;
}