.container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
}
.question{
    background-color: #ffffff;
    text-align: center;
    margin: 16px;
    font-size: 24px;
    padding: 16px;
    border-radius: 15px;
    margin-block-start: 5vh;
    color: #060ce9;
}
.answers{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.reponse{
    font-size: 32px;
    font-weight: 700;
}