.container{
    /* display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center; */
    height: 80%;
    text-align: center;
}
.question{
    background-color: #ffffff;
    text-align: center;
    margin: 16px;
    font-size: 16px;
    padding: 16px;
    border-radius: 15px;
    margin-block-start: 6vh;
    color: #060ce9;
}
.answers{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
/* .response{
    font-size: 32px;
    font-weight: 700;
} */
.btn{
  display: block;
  background-color: #ffffff;
  border-color: #E5144F;
  border-radius: 35px;
  color: #060ce9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* padding: 15px 32px; */
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1vh 16px;
  width:85vw;
  /* white-space: normal;
  overflow: visible; */
}